<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="27.0.2" targetFramework="net472" requireReinstallation="true" />
  <package id="FluentValidation" version="8.4.0" targetFramework="net472" requireReinstallation="true" />
  <package id="Google.Apis" version="1.40.3" targetFramework="net472" requireReinstallation="true" />
  <package id="Google.Apis.Auth" version="1.40.3" targetFramework="net472" requireReinstallation="true" />
  <package id="Google.Apis.Core" version="1.40.3" targetFramework="net472" requireReinstallation="true" />
  <package id="Google.Apis.Gmail.v1" version="1.40.3.1635" targetFramework="net472" requireReinstallation="true" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" requireReinstallation="true" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Data.SqlClient" version="4.6.1" targetFramework="net472" requireReinstallation="true" />
</packages>